<mjml>
    <mj-head>
        <mj-preview>--PREHEADER--</mj-preview>
        <mj-title>Biblia Audio</mj-title>
        <mj-attributes>
            <mj-all font-family="Open Sans";/>
        </mj-attributes>
        <mj-breakpoint width="600px" />
        <mj-style inline="inline">
            .bg-white-outlook {
                background-color: #ffffff;
            }
            .wrapper {
                border-top: 1px solid #e9e9e9;
                border-right: 1px solid #e9e9e9;
                border-left: 1px solid #e9e9e9;
            }

            .wrapper-2 {
                border-bottom: 1px solid #e9e9e9;
                border-right: 1px solid #e9e9e9;
                border-left: 1px solid #e9e9e9;
            }

            .desktop {
                display: none;
            }
        </mj-style>
        <mj-style>

            .rtl > table > tbody > tr > td {
                direction: rtl;
            }

            .ltr > table {
                direction: ltr;
            }

            .wrapper-outlook {
                 border-right: 1px solid #e9e9e9;
            }

            @media only screen and (max-width: 599px) {

                .wrapper, .wrapper-2 {
                max-width: 320px!important;
                }

                .stopka-wrapper {
                max-width: 320px!important;
                }

                .desktop {
                display: none!important;
                }

                .mobile {
                display: block;
                }
            }

            @media only screen and (min-width: 600px) {
                .wrapper, .wrapper-2 {
                max-width: 600px!important;
                }

                .desktop {
                    display: block!important;
                }

                .desktop[style] {
                display: block!important;
                }

                .mobile {
                    display: none;
                }
            }
        </mj-style>
    </mj-head>
    <mj-body background-color="#f7f7f7">
        <mj-wrapper css-class="stopka-wrapper" padding="0px">
            <mj-section padding="5px 0px">
                <mj-column>
                    <mj-text font-size="11px" line-height="21px" color="#181818" padding="0px" align="center">
                        Jeżeli poniższy newsletter nie wyświetla się poprawnie, użyj tego <preview>linku</preview>
                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-wrapper>

        <mj-wrapper css-class="wrapper" padding="0px">
            <mj-section background-color="#ffffff" padding="10px 0px">
                <mj-column>
                    <mj-image css-class="logo" href="http://www.sklep.bibliaaudio.pl/"  width="84px" src="img/logo.png" padding="0px" obackground-color="#fff"></mj-image>
                </mj-column>
            </mj-section>

            <mj-section background-color="#b2984f" padding="0px">
                <mj-column padding="0px">
                    <mj-image href="https://bibliaaudio.pl/" src="img/kv.png" padding="0px" background-color="#fff"></mj-image>
                </mj-column>
            </mj-section>
    
            <mj-section background-color="#b2984f" padding="30px 0 10px">
                <mj-column padding="0px">
                    <mj-text font-size="20px" line-height="1.2" font-weight="700" align="center" color="#ffffff" padding="0px 20px 15px" text-transform="uppercase" letter-spacing="1px">
                        Wyjątkowy prezent na&nbsp;Pierwszą Komunię
                    </mj-text>
                    <mj-text font-size="16px" line-height="1.2" font-weight="400" align="center" color="#ffffff" padding="0px 30px 20px" letter-spacing="1px">
                        Zamów specjalne wydania Biblii Audio <br>
                        i&nbsp;skorzystaj z&nbsp;<b>10% rabatu</b>.
                    </mj-text>
                    
                    <mj-button href="http://www.sklep.bibliaaudio.pl/biblia-audio-superprodukcja-stary-i-nowy-testament-na-cd" background-color="#000000" color="#ffffff" width="280px" text-transform="uppercase" font-size="17px" font-weight="bold" border-radius="0px" padding="0 20px 20px" inner-padding="25px 20px">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kup online<span style="font-size: 21px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;›</span>
                    </mj-button>
                </mj-column>
            </mj-section>

            <mj-section background-color="#fff" padding="45px 0px 25px">
                <mj-column padding="0px 2px">
                    <mj-image href="https://www.sklep.bibliaaudio.pl/kategoria/biblia-audio-superprodukcja/prezent-na-slub-biblia-audio-pendrive" padding="0px" src="img/produkt_1.png"></mj-image>
                    <mj-text text-transform="uppercase" font-size="15px" line-height="1.2" font-weight="900" align="center" color="#b2984f" padding="10px 0px">
                        Stary i nowy <br>
                        testament
                    </mj-text>
                    <mj-text font-size="11px" font-weight="normal" align="center" color="#8c8b8b" padding="0px 0px" text-transform="uppercase" letter-spacing="1px">
                        Białe wydanie <br>
                        prezentowe
                    </mj-text>
                    <mj-text font-size="18px" font-weight="bold" align="center" color="#b2984f" padding="15px 0px">
                        143,10 zł&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 12px; color: #000; font-weight: 400;"><s>159 zł</s></span>
                    </mj-text>
                    <mj-button href="https://www.sklep.bibliaaudio.pl/kategoria/biblia-audio-superprodukcja/prezent-na-slub-biblia-audio-pendrive" background-color="#0ba048" color="#ffffff" text-transform="uppercase" font-size="12px" font-weight="bold" border-radius="0px" width="175px" padding="0px 10px 20px" inner-padding="12px 25px">
                        &nbsp;&nbsp;&nbsp;&nbsp;Kup teraz<span style="font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;›</span>
                    </mj-button>
                </mj-column>
                <mj-column padding="0px 2px">
                    <mj-image href="https://www.sklep.bibliaaudio.pl/kategoria/biblia-audio-superprodukcja/biblia-audio-pendrive-prezent-stary-i-nowy-testament" padding="0px" src="img/produkt_2.png"></mj-image>
                    <mj-text text-transform="uppercase" font-size="15px" line-height="1.2" font-weight="900" align="center" color="#b2984f" padding="10px 0px">
                        Stary i nowy <br>
                        testament
                    </mj-text>
                    <mj-text font-size="11px" font-weight="normal" align="center" color="#8c8b8b" padding="0px 0px" text-transform="uppercase" letter-spacing="1px">
                        czarne wydanie <br>
                        prezentowe
                    </mj-text>
                    <mj-text font-size="18px" font-weight="bold" align="center" color="#b2984f" padding="15px 0px">
                        143,10 zł&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 12px; color: #000; font-weight: 400;"><s>159 zł</s></span>
                    </mj-text>
                    <mj-button href="https://www.sklep.bibliaaudio.pl/kategoria/biblia-audio-superprodukcja/biblia-audio-pendrive-prezent-stary-i-nowy-testament" background-color="#0ba048" color="#ffffff" text-transform="uppercase" font-size="12px" font-weight="bold" border-radius="0px" width="175px" padding="0px 10px 20px" inner-padding="12px 25px">
                        &nbsp;&nbsp;&nbsp;&nbsp;Kup teraz<span style="font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;›</span>
                    </mj-button>
                </mj-column>
                <mj-column padding="0px 2px">
                    <mj-image href="https://www.sklep.bibliaaudio.pl/kategoria/audiobooki-na-plytach-cd/biblia-audio-kids-komplet" padding="0px" src="img/produkt_3.png"></mj-image>
                    <mj-text text-transform="uppercase" font-size="15px" line-height="1.2" font-weight="900" align="center" color="#b2984f" padding="10px 0px">
                        Biblia Audio Kids
                        <br>&nbsp;<br>

                    </mj-text>
                    <mj-text font-size="11px" font-weight="normal" align="center" color="#8c8b8b" padding="0px 0px" text-transform="uppercase" letter-spacing="1px">
                        komplet <br> &nbsp;<br>
                    </mj-text>
                    <mj-text font-size="18px" font-weight="bold" align="center" color="#b2984f" padding="15px 0px">
                        71,10 zł&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 12px; color: #000; font-weight: 400;"><s>79 zł</s></span>
                    </mj-text>
                    <mj-button href="https://www.sklep.bibliaaudio.pl/kategoria/audiobooki-na-plytach-cd/biblia-audio-kids-komplet" background-color="#0ba048" color="#ffffff" text-transform="uppercase" font-size="12px" font-weight="bold" border-radius="0px" width="175px" padding="0px 10px 20px" inner-padding="12px 25px">
                        &nbsp;&nbsp;&nbsp;&nbsp;Kup teraz<span style="font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;›</span>
                    </mj-button>
                </mj-column>
            </mj-section>

            <mj-section background-color="#000000" padding="10px 0px">
                <mj-column width="25%"></mj-column>
                <mj-column width="25%" vertical-align="middle" padding="10px 10px">
                    <mj-text align="center" font-size="12px" line-height="16px" color="#8c8b8b" padding="0px">
                        OBSERWUJ NAS NA
                    </mj-text>
                </mj-column>

                <mj-column width="30%">
                    <mj-social align="center" font-size="16px" icon-size="20px" mode="horizontal" align="center" padding="0px" inner-padding="10px">
                        <mj-social-element src="img/fb.png" href="https://www.facebook.com/bibliaaudiopl/">
                        </mj-social-element>
                        <mj-social-element src="img/yt.png" href="https://www.youtube.com/c/BIBLIAAUDIOsuperprodukcja">
                        </mj-social-element>
                        <mj-social-element src="img/sc.png" href="https://soundcloud.com/bibliaaudio">
                        </mj-social-element>
                        <mj-social-element src="img/tw.png" href="https://twitter.com/biblia_audio">
                        </mj-social-element>
                    </mj-social>
                </mj-column>
                <mj-column width="20%"></mj-column>
            </mj-section>
            <mj-section background-color="#ffffff" padding="10px 0px">
                <mj-column vertical-align="middle" padding="3px 20px">
                    <mj-text align="center" font-size="12px" line-height="16px" color="#8c8b8b" padding="0px">
                        OSORNO Krzysztof Czeczot <br>
                        ul. Jana Pawła Woronicza 33b/156 , 02-640 Warszawa
                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-wrapper>
       <mj-wrapper css-class="stopka-wrapper" padding="0px">
           <mj-section padding="48px 0px 20px">
               <mj-column padding="0px">
                   <mj-text font-size="11px" line-height="21px" color="#8c8b8b" padding="0px" align="center">
                       Dostajesz tę wiadomość ponieważ wsparłeś projekt BIBLIA AUDIO lub zapisałeś się na&nbsp;nasz newsletter. Administratorem danych jest: OSORNO Krzysztof Czeczot
                       ul. Jana Pawła Woronicza 33b/156 , 02-640 Warszawa
                       Jeśli nie&nbsp;życzysz sobie otrzymywać od&nbsp;nas więcej wiadomości<resignlink>możesz się&nbsp;wypisać</resignlink>
                   </mj-text>
               </mj-column>
           </mj-section>
       </mj-wrapper>
    </mj-body>
</mjml>


